<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to Whatsapp Chat!
  </h1>
  <img
    src="https://www.freepnglogos.com/uploads/whatsapp-logo-png-hd-2.png"
    width="200"
    alt="whatsapp logo png hd"
  />
  <div>
    +91
    <input
      type="text"
      maxlength="10"
      minlength="10"
      name="phonnumber"
      [(ngModel)]="phonenumber"
    />
    <button (click)="goToWhatsapp()">Go !</button>
  </div>
  <div style="margin-top: 10px;">
    Made with &#10084; By Sahu Sudheer
  </div>
</div>
